restaurants.dtd

<?xml version="1.0" encoding=“UTF-8"?> 
<!ELEMENT restaurants (restaurant+)> 
<!ELEMENT restaurant (name, cuisine, city, open, close)> 
<!ATTLIST restaurant id CDATA #REQUIRED> 
<!ELEMENT name (#PCDATA)> 
<!ELEMENT cuisine (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT open (#PCDATA)>
<!ELEMENT close (#PCDATA)>